<ion-view view-title="Login" align-title="left">
  <ion-content style="background: url(img/11.jpg) center; background-size: cover;">

    <div class = "content text-center" style="color:white;">
      <h1 class="inicio" style="color:#acacac;">Aerolinea</h1>
    </div>

    <div class="list">
      <ion-md-input style="width: 95%;" placeholder="Email" highligth-color="balanced" type="text" ng-model="login.user.email"></ion-md-input>
      <ion-md-input style="width: 95%;" placeholder="Contraseña" highligth-color="balanced" type="password" ng-model="login.user.password"></ion-md-input>
      <div style="color:white">
        <p class="text-center text-muted"><small><a ui-sref="forgot">Olvido su contraseña?</a></small></p>
      </div>
      <div>
        <button class="button button-full button-assertive ink" ng-click="login.login()">Login</button>
        <a class="button button-full button-positive ink" ui-sref="registro">Registro</a>
      </div>
    </div>

    <div style="color:white">
      <p class="text-center text-muted"><small>Al dar click en Login, usted acepta los <a href="#">Terminos y Condiciones</a></small></p>
    </div>


  </ion-content>


</ion-view>
